.navbar {
    background-color: #1b1b1be1;
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.ulnav {
    padding: 20px;
    list-style-type: none;
    .linav {
        display: inline;
        a {
            float: left;
            display: block;
            text-align: center;
            padding: 8px;
        }
    }
}
