<div class="container">
  <div class="subheader">
    <p class="p-md p-md__light p-md__light__medium">
      I'm Ulises Omar, your
    </p>
    <h1 class="h1 h1__dark h1__dark__bold">Software Developer</h1>
  </div>

  <p class="p-sm p-sm__light p-sm__light__medium">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, vero. Explicabo, harum ratione reiciendis odit architecto ad quasi consequatur dignissimos! Ea expedita, tenetur earum vel iste deserunt praesentium qui at!
  </p>
  <br>
  <a class="a-sm">Hola mundo dos</a>
</div>

