$mrg: 1rem;

.container {
    display: flex;
    flex-flow: row;
    .img {
        height: auto;
        &__frameworks {
            max-width: 10%;
        }
        &__ulises {
            max-width: 100%;
        }
    }
    @media (max-width: 540px) {
        margin-top: $mrg * 8;
        margin-left: $mrg * 2;
        margin-bottom: $mrg * 2;
        margin-right: $mrg * 2;
    }
    @media (min-width: 540px) {
        margin: $mrg * 4;
        .img-container {
            margin-top: $mrg * 2;
        }
    }
    @media (max-width: 540px) {
        flex-flow: column;
        text-align: center;
        .img {
            &__frameworks {
                max-width: 20%;
            }
            &__ulises {
                max-width: 20%;
            }
        }
    }
    .subheader {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        @media (min-width: 540px) {
            margin: $mrg * 2;
        }
        .logos {
            flex-flow: row;
            margin: 10px;
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid #fff;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    animation: fade 1s linear;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
