<app-navbar></app-navbar>

<div class="container">

  <div class="img-container">
    <img src="assets/img/omar.png" alt="Ulises photo" class="img img__ulises">
  </div>

  <div class="subheader">
    <p class="p-md p-md__light p-md__light__medium">
      I'm Ulises Omar, your
    </p>
    <h1 class="h1 h1__dark h1__dark__bold">Software Developer</h1>
    <div class="logos">
      <img class="img img__frameworks" src="assets/img/android.svg" alt="Ulises works with android." />
      <img class="img img__frameworks" src="assets/img/angular.svg" alt="Ulises works with angular +2." />
      <img class="img img__frameworks" src="assets/img/laravel.svg" alt="Ulises works with laravel 7." />
    </div>
    <p class="p-sm p-sm__light p-sm__light__medium">
      Two years of experience developing <span class="p-sm p-sm__dark p-sm__dark__medium tooltip">apps, webpages and
        systems <small class="tooltiptext">android, angular and laravel</small> </span>.
      Advanced english with <span class="p-sm p-sm__dark p-sm__dark__medium tooltip">b2 level certification <small
          class="tooltiptext">toefl itp +560 points</small> </span>. Adapted to teams of +30 persons with <span
        class="p-sm p-sm__dark p-sm__dark__medium tooltip">gitflow and agile workflow<small class="tooltiptext">github,
          jira,<br /> slack</small> </span>.
    </p>
    <br>
    <a class="a-md" href="#">[<small>Check my CV</small>]</a>
  </div>
</div>