<!-- 1080 * 638 + 64 -->
<div class="container">

  <div class="img-container">
    <img src="assets/img/omar.png" alt="Ulises photo" class="img img__ulises">
  </div>

  <div class="subheader">
    <p class="p-md p-md__light p-md__light__medium">
      I'm Ulises Omar, your
    </p>
    <h1 class="h1 h1__dark h1__dark__bold">Software Developer</h1>
    <div class="logos">
      <img class="img img__frameworks" src="assets/img/android.svg" alt="Ulises works with android." />
      <img class="img img__frameworks" src="assets/img/angular.svg" alt="Ulises works with angular +2." />
      <img class="img img__frameworks" src="assets/img/laravel.svg" alt="Ulises works with laravel 7." />
    </div>
    <p class="p-sm p-sm__light p-sm__light__medium">
      Two years of experience developing <span class="p-sm p-sm__dark p-sm__dark__medium tooltip">apps, webpages and
        systems <small class="tooltiptext">android, angular and laravel</small> </span>.
      Pasionate for <span class="p-sm p-sm__dark p-sm__dark__medium tooltip">Google<small class="tooltiptext">location,
          drive,
          <br />youtube, oauth2 and firebase api</small> </span> or <span
        class="p-sm p-sm__dark p-sm__dark__medium tooltip">LAMP<small class="tooltiptext">linux,
          apache,<br />mySQL and php</small> </span> solutions, but can perfectly deploy <span
        class="p-sm p-sm__dark p-sm__dark__medium tooltip">Azure<small class="tooltiptext">virtual machines & remote
          db's</small> </span> projects.
      <br /><br />
      Adapted to teams of +30 persons
      with <span class="p-sm p-sm__dark p-sm__dark__medium tooltip">gitflow
        and agile workflow.<br /><small class="tooltiptext">github,
          jira,<br /> slack</small> </span>
      Advanced english with <span class="p-sm p-sm__dark p-sm__dark__medium tooltip">b2 level certification <small
          class="tooltiptext">toefl itp +560 points</small> </span>, learning Deutsch for fun.
    </p>
    <br>
    <a class="a-md" target="_blank" href="assets/doc/Ulises_Prieto_Software_Dev_en.pdf">[<small>Check my CV</small>]</a>
  </div>
</div>