<!-- 1080 * 638 + 64 -->
<div class="container">
  <div class="subheader">
    <p class="p-md p-md__light p-md__light__medium">
      These are my active deployed
    </p>
    <h1 class="h1 h1__dark h1__dark__bold">Apps and Systems</h1>

    <!-- Grid Layout -->
    <div class="row">
      <!-- Each img works as a row -->
      <div class="item">
        <img src="assets/img/appinsumos.png" alt="AppInsumos" />
      </div>
      <div class="item">
        <img src="assets/img/appvacuna.png" alt="Appvacuna" />
      </div>
      <div class="item">
        <img src="assets/img/apprepo.png" alt="Repositorio Institucional" />
      </div>
    </div>
  </div>


</div>