.footer {
    background-color: #1b1b1bec;
    height: 56px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    .links {
        justify-content: center;
        align-items: center;
        height: 56px;
        display: flex;
        flex-flow: row;
        .imgs {
            height: auto;
            &__frameworks {
                max-width: 30%;
            }
        }
    }
}
